@using System.Web.Mvc.Html
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site A</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="SiteNameLink" class="navbar-brand" href="#">Site</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <br />

<div class="container">
    <div class="jumbotron">
        <h1 id="SiteHeader">Site </h1>
		<br/>
        @RenderBody()
    </div>
    <footer>
        <p>
            Rendered at <strong>@DateTime.Now.ToLongTimeString()</strong>
        </p>
    </footer>
</div> <!-- /container -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/scripts/sites")
@Scripts.Render("~/scripts/app")
@RenderSection("scripts", false)
</body>
</html>

